In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df_customer = pd.read_csv("Data_Marketing_Customer_Analysis_Round3.csv")
df_customer

,Unnamed: 0,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,0,central,4809,no,basic,college,2/18/11,feb,employed,m,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,...,31,1,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,...,40,2,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,10688,west region,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [4]:
df_customer.select_dtypes(object)

,region,response,coverage,education,effective_to_date,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,central,no,basic,college,2/18/11,feb,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,west region,no,basic,college,1/18/11,jan,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,east,no,basic,bachelor,2/10/11,feb,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize
3,north west,yes,extended,college,1/11/11,jan,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,north west,no,premium,bachelor,1/17/11,jan,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,bachelor,1/19/11,jan,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize
10685,north west,no,basic,college,1/6/11,jan,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10686,central,no,extended,bachelor,2/6/11,feb,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10687,west region,no,premium,college,2/13/11,feb,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10688,west region,no,basic,bachelor,1/8/11,jan,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize

In [11]:
# One Hot/Label Encoding of the categorical variables in the categoricals data frame that you created in Activity 4. 
# Hint: check Dropfirst option
categoricals=df_customer.select_dtypes(object)
categoricals

,region,response,coverage,education,effective_to_date,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,central,no,basic,college,2/18/11,feb,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,west region,no,basic,college,1/18/11,jan,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,east,no,basic,bachelor,2/10/11,feb,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize
3,north west,yes,extended,college,1/11/11,jan,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,north west,no,premium,bachelor,1/17/11,jan,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,bachelor,1/19/11,jan,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize
10685,north west,no,basic,college,1/6/11,jan,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10686,central,no,extended,bachelor,2/6/11,feb,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10687,west region,no,premium,college,2/13/11,feb,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10688,west region,no,basic,bachelor,1/8/11,jan,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize

In [13]:
ed_dumm=pd.get_dummies(categoricals, columns=["education"])
ed_dumm

,region,response,coverage,effective_to_date,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,education_bachelor,education_college,education_doctor,education_high school or below,education_master
0,central,no,basic,2/18/11,feb,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize,0,1,0,0,0
1,west region,no,basic,1/18/11,jan,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize,0,1,0,0,0
2,east,no,basic,2/10/11,feb,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize,1,0,0,0,0
3,north west,yes,extended,1/11/11,jan,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize,0,1,0,0,0
4,north west,no,premium,1/17/11,jan,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,1/19/11,jan,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize,1,0,0,0,0
10685,north west,no,basic,1/6/11,jan,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize,0,1,0,0,0
10686,central,no,extended,2/6/11,feb,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize,1,0,0,0,0
10687,west region,no,premium,2/13/11,feb,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize,0,1,0,0,0
10688,west region,no,basic,1/8/11,jan,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize,1,0,0,0,0

In [6]:
numerical =df_customer.select_dtypes(int)

In [16]:
# remove the outliers from the numerical columns.

from scipy.stats import scoreatpercentile as pct
from scipy.stats import iqr
def remove_outliers(df):
    pct_75 = pct(df, 75)  # Calculate percentile 75 using scipy function scoreatpercentile
    pct_25 = pct(df, 25)  # Calculate percentile 25 using scipy function scoreatpercentile
    upper_bound = pct_75 + 1.5*iqr(df)  # iqr - > Scipy function to calculate the Interquartile Range
    lower_bound = pct_25 - 1.5*iqr(df)
    df = df[(df <= upper_bound) & (df >= lower_bound)]  # Filter out the outliers
    return df

#calling the function
numerical = remove_outliers(numerical)
numerical

,Unnamed: 0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# check if there are highly correlated features and drop them if there are any.

corr_matrix=numerical.corr().abs()
upper_triangle=corr_matrix.where(np.triu(np.ones(corr_matrix.shape),k=1).astype(bool))
[column for column in upper_triangle.columns if any(upper_triangle[column] > 0.80)]

[]

In [9]:
numerical.corr()

,Unnamed: 0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
Unnamed: 0,1.000000,0.023067,-0.137863,-0.001076,0.009031,0.013202,0.005535,0.002737,-0.003809
customer_lifetime_value,0.023067,1.000000,0.149594,0.404439,0.008450,0.007180,-0.026897,0.394957,0.177196
income,-0.137863,0.149594,1.000000,0.192361,0.063200,-0.208495,0.051102,0.127727,0.252996
monthly_premium_auto,-0.001076,0.404439,0.192361,1.000000,0.006959,0.019696,-0.002423,-0.018805,0.630149
months_since_last_claim,0.009031,0.008450,0.063200,0.006959,1.000000,-0.036883,-0.002617,0.006791,0.008979
months_since_policy_inception,0.013202,0.007180,-0.208495,0.019696,-0.036883,1.000000,0.004368,-0.009719,0.004186
number_of_open_complaints,0.005535,-0.026897,0.051102,-0.002423,-0.002617,0.004368,1.000000,0.002748,-0.007332
number_of_policies,0.002737,0.394957,0.127727,-0.018805,0.006791,-0.009719,0.002748,1.000000,-0.008019
total_claim_amount,-0.003809,0.177196,0.252996,0.630149,0.008979,0.004186,-0.007332,-0.008019,1.000000

In [10]:
#X-y split (y is the target variable which is the total claim amount)
X=numerical.drop('total_claim_amount', axis=1)
y=df_customer.total_claim_amount