# Pandas: grouping

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
cars = pd.read_csv("vehicles.csv")

In [4]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [5]:
### your code is here
cars["Model"].unique()

array(['DJ Po Vehicle 2WD', 'FJ8c Post Office', 'Post Office DJ5 2WD',
       ..., 'fortwo cabriolet', 'fortwo convertible', 'fortwo coupe'],
      dtype=object)

group by the data by the Make  using count function

In [6]:
### your code us here
cars.groupby("Make").count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [7]:
### your code us here
cars.Make.value_counts().max

<bound method NDFrame._add_numeric_operations.<locals>.max of Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64>

<b>show the average CO2_Emission_Grams/Km  by Brand

In [8]:
### your code us here
cars.groupby('Make')["CO2 Emission Grams/Mile"].mean()

Make
AM General                     611.358244
ASC Incorporated               555.437500
Acura                          422.585325
Alfa Romeo                     463.952115
American Motors Corporation    505.758823
                                  ...
Volkswagen                     392.741721
Volvo                          435.803755
Wallace Environmental          657.990029
Yugo                           356.068256
smart                          247.030556
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [9]:
### your code us here
cars.groupby('Make')["CO2 Emission Grams/Mile"].mean().reset_index().sort_values(["CO2 Emission Grams/Mile"], ascending=False)

                                   Make  CO2 Emission Grams/Mile
119                              Vector              1049.159722
112    Superior Coaches Div E.p. Dutton               888.700000
101  S and S Coach Company  E.p. Dutton               888.700000
15                              Bugatti               873.062500
58               Laforza Automobile Inc               807.909091
..                                  ...                      ...
67                                 MINI               313.716862
26                             Daihatsu               310.188060
35                                 Fiat               304.666560
126                               smart               247.030556
36                               Fisker               169.000000

[127 rows x 2 columns]

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [10]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [11]:
cars['Year'].unique()

array([1984, 1985, 1987, 1997, 1998, 1999, 1995, 1996, 2001, 2002, 2003,
       2000, 2004, 2013, 2014, 2015, 2016, 2017, 1986, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012])

In [12]:
## your code here
labels=["1983-1992", "1992-2000", "2000-2008", "2008-2017"]
cars["Year Ranges"]=pd.cut(cars["Year"],bins=4, labels=labels)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Year Ranges
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,1983-1992
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1983-1992
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,1983-1992
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1983-1992
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,1983-1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2008-2017
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,2008-2017
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2008-2017
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,2008-2017
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,2008-2017

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [13]:
cars[["City MPG"]] = cars[["City MPG"]]*1.60934 / 3.78541
cars=cars.rename(columns={"City MPG":"City Km/Liter"})

In [14]:
### your code is here
cars.groupby("Year Ranges")["City Km/Liter"].mean().reset_index().sort_values(["City Km/Liter"], ascending=False)

  Year Ranges  City Km/Liter
3   2008-2017       8.202090
0   1983-1992       7.306094
1   1992-2000       7.221425
2   2000-2008       7.122172

Which brands are more environment friendly?

In [15]:
### your code is here
cars.groupby('Make')["CO2 Emission Grams/Mile"].mean().reset_index().sort_values(["CO2 Emission Grams/Mile"], ascending=True)

                                   Make  CO2 Emission Grams/Mile
36                               Fisker               169.000000
126                               smart               247.030556
35                                 Fiat               304.666560
26                             Daihatsu               310.188060
67                                 MINI               313.716862
..                                  ...                      ...
58               Laforza Automobile Inc               807.909091
15                              Bugatti               873.062500
112    Superior Coaches Div E.p. Dutton               888.700000
101  S and S Coach Company  E.p. Dutton               888.700000
119                              Vector              1049.159722

[127 rows x 2 columns]

Does the drivetrain affect fuel consumption?

In [16]:
## Your Code here
cars.groupby("Drivetrain")["Fuel Barrels/Year"].mean().reset_index().sort_values(["Fuel Barrels/Year"], ascending=False)

                   Drivetrain  Fuel Barrels/Year
0               2-Wheel Drive          21.069467
6     Part-time 4-Wheel Drive          20.628218
3  4-Wheel or All-Wheel Drive          20.484720
7            Rear-Wheel Drive          19.587486
2               4-Wheel Drive          17.942952
4             All-Wheel Drive          16.349672
5           Front-Wheel Drive          14.266654
1        2-Wheel Drive, Front          11.771786

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [17]:
## Your Code here
cars.groupby("Transmission")["Fuel Barrels/Year"].mean().reset_index().sort_values(["Fuel Barrels/Year"], ascending=False)

                        Transmission  Fuel Barrels/Year
40                      Manual 5 spd          23.543571
18                    Automatic (A6)          22.473409
20                   Automatic (AM6)          21.974000
38                      Manual 3-spd          21.741510
16                          Auto(L4)          21.287312
15                          Auto(L3)          21.287312
44                        Manual(M7)          20.491627
39                      Manual 4-spd          19.749924
10                         Auto(AM7)          19.622515
32                   Automatic 5-spd          19.144976
31                   Automatic 4-spd          19.047387
30                   Automatic 3-spd          18.827020
26                    Automatic (S7)          17.997599
33                   Automatic 6-spd          17.964236
36                   Automatic 8-spd          17.511405
35                   Automatic 7-spd          17.290501
24                    Automatic (S5)          17.195845
5                        Auto(AM-S7)          16.866670
42                      Manual 6-spd          16.613983
25                    Automatic (S6)          16.523272
23                    Automatic (S4)          16.252689
41                      Manual 5-spd          16.179190
27                    Automatic (S8)          15.997046
43                      Manual 7-spd          15.915736
2                       Auto (AV-S8)          15.695714
7                        Auto(AM-S9)          15.695714
37                   Automatic 9-spd          14.371832
28                    Automatic (S9)          14.362533
1                       Auto (AV-S6)          14.330870
9                          Auto(AM6)          14.019204
14                       Auto(AV-S8)          13.512989
21                    Automatic (AV)          13.459075
22                 Automatic (AV-S6)          13.213449
34                    Automatic 6spd          12.677308
4                        Auto(AM-S6)          12.585461
12                       Auto(AV-S6)          12.072128
29  Automatic (variable gear ratios)          12.031110
13                       Auto(AV-S7)          11.275510
11                         Auto(AM8)          10.347381
6                        Auto(AM-S8)           9.845101
19                   Automatic (AM5)           9.155833
8                          Auto(AM5)           9.155833
0                          Auto (AV)           3.375621
17                    Automatic (A1)           3.161879
3                           Auto(A1)           1.563190

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [19]:
## your code is here
cars.groupby("Transmission")["City Km/Liter"].mean().reset_index().sort_values(["City Km/Liter"], ascending=False)

                        Transmission  City Km/Liter
3                           Auto(A1)      17.430857
0                          Auto (AV)      14.880000
17                    Automatic (A1)      14.454857
8                          Auto(AM5)      14.313143
19                   Automatic (AM5)      14.029714
13                       Auto(AV-S7)      11.883755
29  Automatic (variable gear ratios)      11.674738
12                       Auto(AV-S6)      11.030258
4                        Auto(AM-S6)      10.337441
9                          Auto(AM6)      10.164779
6                        Auto(AM-S8)      10.061714
22                 Automatic (AV-S6)      10.061714
14                       Auto(AV-S8)       9.712879
11                         Auto(AM8)       9.523200
1                       Auto (AV-S6)       9.353143
21                    Automatic (AV)       9.246857
34                    Automatic 6spd       8.928000
7                        Auto(AM-S9)       8.928000
37                   Automatic 9-spd       8.535924
2                       Auto (AV-S8)       8.502857
28                    Automatic (S9)       8.470154
41                      Manual 5-spd       8.180738
27                    Automatic (S8)       7.843886
25                    Automatic (S6)       7.796063
42                      Manual 6-spd       7.782764
43                      Manual 7-spd       7.746353
23                    Automatic (S4)       7.684132
5                        Auto(AM-S7)       7.544625
30                   Automatic 3-spd       7.418636
35                   Automatic 7-spd       7.277521
24                    Automatic (S5)       7.264667
39                      Manual 4-spd       7.172739
26                    Automatic (S7)       7.144355
33                   Automatic 6-spd       7.108673
36                   Automatic 8-spd       7.047224
10                         Auto(AM7)       6.907894
31                   Automatic 4-spd       6.778588
32                   Automatic 5-spd       6.566509
38                      Manual 3-spd       6.049668
15                          Auto(L3)       5.952000
40                      Manual 5 spd       5.952000
44                        Manual(M7)       5.952000
18                    Automatic (A6)       5.952000
16                          Auto(L4)       5.739428
20                   Automatic (AM6)       5.526857

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here

In [22]:
data = pd.read_sql_query(query, engine)
data.head()

NameError: name 'query' is not defined